{{ if .fullPage }}
<!DOCTYPE html>

<html lang="de">

{{ template "general/head" }}

<body class="column center-cross-axis">
	{{ block "action-column" . }}
		<div class="row gap-10" id="action-row">
			<a hx-get="/load" hx-target="#scenario" hx-swap="afterbegin" class="link">Laden</a>

			<a hx-boost="false" href="/save"> Speichern </a>

			<a id="solve-assignment-link" hx-put="/assignments" hx-target="#scenario" hx-swap="outerHTML" hx-indicator="#loading-indicator" class="link">Zuteilen</a>
		</div>
	{{ end }}

	<h1>🐻 Priobär</h1>
    {{ template "general/loading-indicator" . }}
{{ end }}
	<div class="row" id="scenario">
		{{ block "scenario/_participants-column" .participants }}

		<div id="participants-column" class="margin-lr width-fifth">
			<h2>Teilnehmer</h2>

			{{ range . }}
			{{ template "participants/_show" . }}
			{{ end }}

			{{ template "participants/_new-button" }}
		</div>
		{{ end }}

		<div id="courses-column" class="margin-lr width-fifth">
			<h2>Kurse</h2>
			{{ block "scenario/course-list" .courseList}}
				{{ block "scenario/unassigned-entry" .UnassignedEntry }}
					{{ if .ShouldRender }}
						<div id="not-assigned" hx-get="/scenario" hx-target="#scenario" hx-swap="outerHTML"
							class="{{ if .Selected }}selected{{ end }} clickable"
							{{ if .AsOobSwap }}hx-swap-oob="outerHTML:#not-assigned"{{ end }}
							ondragover="allowDrop(event)" ondrop="drop(event)" ondragleave="dragLeave(event)">
							<b> Nicht zugeteilt </b> <br>
							{{ Field "ParticipantsCount" . }} Teilnehmer
						</div>
						<hr>
					{{ end }}
				{{ end }}

				{{ block "courses" .CourseEntries }}
					{{ range . }}
						{{ template "courses/_show" . }}
					{{ end }}
				{{ end }}

			{{ end }}
			{{ template "courses/_new-button" }}
		</div>

	</div>
{{ if .fullPage }}

</body>

</html>
{{ end }}
