<div id="participants-new">
	<h2>Neuer Teilnehmer</h2>

	<form hx-post="/participants" hx-target="#participants-new" hx-swap="outerHTML" class="column">
		<label>Vorname</label>
		<input type="text" name="prename" value="{{ .Value.Prename }}">
		{{ template "general/error-message" index .Errors "prename" }}

		<label>Nachname</label>
		<input type="text" name="surname" value="{{ .Value.Surname }}">
		{{ template "general/error-message" index .Errors "surname" }}

		<input type="submit" value="Anlegen">
	</form>

	<button hx-get="participants/button-new" hx-target="#participants-new" hx-swap="outerHTML">Abbrechen</button>
</div>
