<head>

  <meta charset="UTF-8" />

  <title>Ass</title>

  <meta name="viewport" content="width=device-width,initial-scale=1" />

  <meta name="description" content="" />

  <meta name="htmx-config" content='{"responseHandling": [{"code":"422", "swap": true}, {"code":"[23]..", "swap": true}]}'/> 

  <link rel="icon" href="favicon.png">

  <script src="/static/script.js"></script>
  <script src="https://unpkg.com/htmx.org@2.0.3"></script>
  <link rel="stylesheet" href="/static/style.css">

</head>
