.row {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.column {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.center-cross-axis {
	align-items: center;
}

.width-fifth {
	width: 20vw;
}

.margin-lr {
	margin-left: 10px;
	margin-right: 10px;
}

.gap-10 {
	gap: 10px;
}

.link {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

.selected {
	background-color: lightblue;
}

.error {
	color: red
}
