body {
 font-family: sans-serif;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.row li {
	margin-right: 20px; 
}

.column {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.center-cross-axis {
	align-items: center;
}

.width-fifth {
	width: 20vw;
}

.width-two-thirds{
	width: 66vw;
}

.margin-lr {
	margin-left: 10px;
	margin-right: 10px;
}

.gap-10 {
	gap: 10px;
}

.link {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

.selected {
	background-color: lightblue;
}

.clickable {
	cursor: pointer;
}

.drop-ready {
	border: 2px dashed #007BFF; 
	background-color: #E7F3FE; 
	box-shadow: 0 0 10px rgba(0, 123, 255, 0.5); 
	opacity: 0.8; 
	cursor: grab; 
}

.error {
	color: red
}
