{{ if .fullPage }}
<!DOCTYPE html>

<html lang="de">

{{ template "general/head" }}

<body>
	<h1>Priobär</h1>

{{ end }}
	<div class="row" id="assignments">
		<div id="courses-column" class="margin-lr">
			<h2>Kurse</h2>
			{{ block "assignments/course-list" .courseList}}
				{{ block "assignments/unassigned-entry" .UnassignedEntry }}
					{{ if .ShouldRender }}
						<div id="not-assigned" hx-get="/assignments" hx-target="#assignments" hx-swap="outerHTML" 
							{{ if .Selected }}class="selected"{{ end }}
							{{ if .AsOobSwap }}hx-swap-oob="outerHTML:#not-assigned"{{ end }}
							ondragover="allowDrop(event)" ondrop="drop(event)">
							Nicht zugeteilt <br>
							{{ Field "ParticipantsCount" . }} Teilnehmer
						</div>
						<hr>
					{{ end }}
				{{ end }}

				{{ block "courses" .CourseEntries }}
					{{ range . }}
						{{ template "courses/_show" . }}
					{{ end }}
				{{ end }}
			{{ end }}

			{{ template "courses/_new-button" }}
		</div>

		{{ template "assignments/_participants-column" .participants }}

		{{ block "action-column" . }}
		<div id="action-column" class="column margin-lr">
			<h2>Aktionen</h2>

			<button hx-get="/assignments?solve=true" hx-target="#assignments" hx-swap="outerHTML">Zuteilen</button>

			<a hx-boost="false" href="/save"> Speichern </a>

			<form id='form' hx-encoding='multipart/form-data' hx-post='/load' hx-target="#assignments" hx-swap="outerHTML">
				<input type='file' name='file'>
				<button>
				    Upload
				</button>
				<!-- <progress id='progress' value='0' max='100'></progress> -->
			</form>
			<!-- <script> -->
			<!-- 	htmx.on('#form', 'htmx:xhr:progress', function(evt) { -->
			<!-- 	  htmx.find('#progress').setAttribute('value', evt.detail.loaded/evt.detail.total * 100) -->
			<!-- 	}); -->
			<!-- </script> -->
		</div>
		{{ end }}
	</div>
{{ if .fullPage }}
</body>

</html>
{{ end }}
