{{ if .fullPage }}
<!DOCTYPE html>

<html lang="de">

{{ template "general/head" }}

<body>
	{{ block "action-column" . }}
		<div class="row gap-10" id="action-row">
			<a hx-get="/load" hx-target="#assignments" hx-swap="afterbegin" class="link">Laden</a>

			<a hx-boost="false" href="/save"> Speichern </a>

			<a hx-get="/assignments?solve=true" hx-target="#assignments" hx-swap="outerHTML" class="link">Zuteilen</a>
		</div>
	{{ end }}
	<h1>Priobär</h1>

{{ end }}
	<div class="row" id="assignments">
		<div id="courses-column" class="margin-lr">
			<h2>Kurse</h2>
			{{ block "assignments/course-list" .courseList}}
				{{ block "assignments/unassigned-entry" .UnassignedEntry }}
					{{ if .ShouldRender }}
						<div id="not-assigned" hx-get="/assignments" hx-target="#assignments" hx-swap="outerHTML" 
							{{ if .Selected }}class="selected"{{ end }}
							{{ if .AsOobSwap }}hx-swap-oob="outerHTML:#not-assigned"{{ end }}
							ondragover="allowDrop(event)" ondrop="drop(event)">
							Nicht zugeteilt <br>
							{{ Field "ParticipantsCount" . }} Teilnehmer
						</div>
						<hr>
					{{ end }}
				{{ end }}

				{{ block "courses" .CourseEntries }}
					{{ range . }}
						{{ template "courses/_show" . }}
					{{ end }}
				{{ end }}
			{{ end }}

			{{ template "courses/_new-button" }}
		</div>

		{{ template "assignments/_participants-column" .participants }}

	</div>
{{ if .fullPage }}
</body>

</html>
{{ end }}
